<!--0330-->
<div class="row">
	<div class="col-md-10 col-md-offset-1" style="margin-top: 50px; margin-bottom: 50px;">
		<div class="panel panel-primary">
			<div class="panel-heading" style="border-bottom: 1px solid rgba(24, 4, 4, 0.07);">
				<p>当店のホームページへのご訪問ありがとうございます。<br />
			        お問い合わせは、下記フォームの項目にご記入いただき、［送信］ボタンをクリックして下さい。<br />
			        各種パーティー・団体様ご来店のご相談も受け付けておりますので、お気軽にご連絡ください。<br />
			        ※ご来店のご予約は電話でのみ受付とさせていただいております。<br /><br />
			        <span>Tel.09-503-9139</span>
			    </p>
			    <p>お問合わせ内容によりましては、ご返信できない場合もございますので、あらかじめご了承ください。 </p>
			</div><!--panel-heading-->
			<div class="panel-body">
				<%= simple_form_for @contact do |f| %>
					<%= f.input :name, :required => false %>
					<%= f.input :nickname, :required => false %>
 					<%= f.input :email, :required => true %>
 					<%= f.input :subject, :required => true %>
 					<%= f.input :body, as: :text, :required => true, :size => "150", cols: 150 %>
 					<%= f.button :submit, 'Send message' %>
 				<% end %>
			</div><!--panel-body-->
		</div><!--panel panel-primary-->
	</div><!--col-md-10 col-md-offset-1-->
	<div class="col-md-12" style="margin-bottom: 50px;">
        <a href="/"> <button style="width: 100px; height: 50px; font-weight: bold;">戻る</button></a>
    </div><!--col-md-12-->
</div>