
<!-- Oo 20150320 -->
<div id="swf">
<div id="swfInner">
 <img src="/assets/shared/wasabi02.png" alt="wasabi image" style="margin-top: 20px;">
 <div class="col-md-12" style="margin-top: -250px;">
  <h2 style="font-size:27px;font-weight: bold;color: #fff;margin-bottom: 15px;font-family:zawgyi-one;">
    <%= t("body.top")%>
  </h2>
  <p style="font-size: 20px;color: #fff;font-weight: bold;font-family:zawgyi-one;">
    <%= t("body.top2")%>
  </p>
 </div>
</div>
</div>
<div class="container">
 <div class="row" style="width: 1000px; margin: 0 auto;">
    <div class="col-md-12">
      <h2 style="font-size: 30px; font-weight: bolder; margin-top: 60px;font-family:zawgyi-one;">☆　<%= t("body.title")%>　☆</h2>
      <h3 style="font-size: 25px; margin-top: 20px;font-weight: bold;font-family:zawgyi-one;">
          <%= t("body.title2")%>
      </h3>
    </div><!--col-md-12-->
    <div class="col-md-12" style="margin-top: 10px;">
      <div class="col-md-9" style="text-align: left; font-size: 20px; width: 800px;font-family:zawgyi-one;">
        <h3>■<%= t("body.paragraph")%></h3>
        <h3>■<%= t("body.paragraph2")%></h3>
        <h3>■<%= t("body.paragraph3")%></h3>
        <h3>■<%= t("body.paragraph4")%></h3>
        <h3>■<%= t("body.paragraph5")%></h3>
      </div><!--col-md-9-->
      <div class="com-md-3">
        <img src="/assets/shared/kawaii.jpg" width="170">
      </div><!--com-md-3-->
    </div><!--col-md-12-->
    <div class="col-md-12 title"><p><%= t("body.title3")%></p></div><!--col-md-12-->
    <div class="col-md-12" style="padding-left: 0px;">
      <div class="col-md-4">
        <img src="/assets/shared/menu01.jpg" alt="menu image" class="img-border">
        <h3 style="font-size: 20px; margin-top: 10px; margin-bottom: 5px; font-weight: bold;">
          <%= t("body.title12")%>
        </h3>
        <h4><%= t("body.paragraph6")%></h4>
      </div>
      <div class="col-md-4">
        <img src="/assets/shared/menu01.jpg" alt="menu image" class="img-border">
        <h3 style="font-size: 20px; margin-top: 10px; margin-bottom: 5px; font-weight: bold;">
          <%= t("body.title13")%>
        </h3>
        <h4><%= t("body.paragraph7")%></h4>
      </div>
      <div class="col-md-4">
        <img src="/assets/shared/menu01.jpg" alt="menu image" class="img-border">
        <h3 style="font-size: 20px; margin-top: 10px; margin-bottom: 5px; font-weight: bold;">
          <%= t("body.title14")%>
        </h3>
        <h4><%= t("body.paragraph8")%></h4>
      </div>
    </div><!--col-md-12-->
    <div class="col-md-12" style="padding-left: 0px; margin-top: 40px;margin-bottom: 50px;">
      <div class="col-md-4">
        <img src="/assets/shared/menu01.jpg" alt="menu image" class="img-border">
        <h3 style="font-size: 20px; margin-top: 10px; margin-bottom: 5px; font-weight: bold;">
          <%= t("body.title15")%>
        </h3>
        <h4><%= t("body.paragraph9")%></h4>
      </div>
      <div class="col-md-4">
        <img src="/assets/shared/menu01.jpg" alt="menu image" class="img-border">
        <h3 style="font-size: 20px; margin-top: 10px; margin-bottom: 5px; font-weight: bold;">
          <%= t("body.title16")%>
        </h3>
        <h4><%= t("body.paragraph10")%></h4>
      </div>
      <div class="col-md-4">
        <img src="/assets/shared/menu01.jpg" alt="menu image" class="img-border">
        <h3 style="font-size: 20px; margin-top: 10px; margin-bottom: 5px; font-weight: bold;">
          <%= t("body.title17")%>
        </h3>
        <h4><%= t("body.paragraph11")%></h4>
      </div>
    </div><!--col-md-12-->
    <div class="col-md-12" style="padding-left: 0px; margin-top: 5px;margin-bottom: 50px;">
      <div class="col-md-4">
        <img src="/assets/shared/myanmar.jpg" alt="menu image" class="img-border">
      </div>
      <div class="col-md-8">
        <h3 class="beer">
        <font style="color: #000; font-size: 25px; font-weight: bold;"><%= t("body.title4")%></font></h3>
        <h4><%= t("body.paragraph12")%></h4>
      </div>
    </div><!--col-md-12-->
      <div class="col-md-12 title"><p><%= t("body.title5")%></p></div>
    <div class="col-md-12" style="padding-left: 0px;">
      <div class="col-md-4">
        <img src="/assets/shared/hamaguri.png" alt="menu image" class="img-border">
        <h3 style="font-size: 20px; margin-top: 10px; margin-bottom: 5px; font-weight: bold;">
          <%= t("body.title18")%>
        </h3>
        <h4><%= t("body.paragraph13")%></h4>
      </div>
      <div class="col-md-4">
        <img src="/assets/shared/dashimaki.png" alt="menu image" class="img-border">
        <h3 style="font-size: 20px; margin-top: 10px; margin-bottom: 5px; font-weight: bold;">
          <%= t("body.title19")%>
        </h3>
        <h4><%= t("body.paragraph14")%></h4>
      </div>
      <div class="col-md-4">
        <img src="/assets/shared/edamame.png" alt="menu image" class="img-border">
        <h3 style="font-size: 20px; margin-top: 10px; margin-bottom: 5px; font-weight: bold;">
          <%= t("body.title20")%>
        </h3>
        <h4><%= t("body.paragraph15")%></h4>
      </div>
    </div><!--col-md-12-->
    <div class="col-md-12 title"><p><%= t("body.title6")%></p></div>
    <div class="col-md-12" style="padding-left: 0px;">
      <div class="col-md-4">
        <img src="/assets/shared/aaa.png" alt="menu image" class="img-border">
        <h3 style="font-size: 20px; margin-top: 10px; margin-bottom: 5px; font-weight: bold;">
          <%= t("body.title21")%>
        </h3>
        <h4><%= t("body.paragraph16")%></h4>
      </div>
      <div class="col-md-4">
        <img src="/assets/shared/bbb.png" alt="menu image" class="img-border">
        <h3 style="font-size: 20px; margin-top: 10px; margin-bottom: 5px; font-weight: bold;">
          <%= t("body.title22")%>
        </h3>
        <h4><%= t("body.paragraph17")%></h4>
      </div>
      <div class="col-md-4">
        <img src="/assets/shared/ccc.png" alt="menu image" class="img-border">
        <h3 style="font-size: 20px; margin-top: 10px; margin-bottom: 5px; font-weight: bold;">
          <%= t("body.title23")%>
        </h3>
        <h4><%= t("body.paragraph18")%></h4>
      </div>
    </div><!--col-md-12-->
    <div class="col-md-12">
      <h2 style="font-size: 30px; font-weight: bolder; margin-top: 60px;">☆　<%= t("body.title7")%>　☆</h2>
      <h3 style="font-size: 20px; margin-top: 10px; margin-bottom: 15px; font-weight: bold;">
      <%= t("body.paragraph20")%><br/><%= t("body.paragraph21")%><br/>
      <%= t("body.paragraph22")%></h3>
    </div><!--col-md-12-->
    <div class="col-md-12 title"><p><%= t("body.title8")%></p></div>
    <div class="col-md-12">
      <img src="/assets/shared/singboard2.png" alt="singboard image" style="margin-left: -3px; width: 965px;" class="img-border">
        <p style="text-align: left; margin-top: 20px;">
          <%= t("body.paragraph19")%>
        </p>
    </div>
    <div class="col-md-12">
      <h2 style="font-size: 30px; font-weight: bolder; margin-top: 60px;">☆　<%= t("body.title9")%>　☆</h2>
      <h2 style="font-size: 25px; font-weight: bolder; margin-top: 25px;"><%= t("body.title10")%></h2>
      <h3 style="font-size: 20px; margin-top: 10px; margin-bottom: 5px; font-weight: bold;">
        <%= t("body.paragraph23")%><br/><%= t("body.paragraph24")%><br/>
        <%= t("body.paragraph25")%>
      </h3>
    </div><!--col-md-12-->
    <div class="col-md-12" style="margin-bottom: 25px;">
      <img src="/assets/shared/map.png" width="970" alt="map image">
    </div><!--col-md-12-->
    <div class="col-md-12">
      <h2 style="font-size: 25px; font-weight: bolder;"><%= t("body.title11")%></h2>
      <h3 style="font-size: 20px; margin-top: 10px; margin-bottom: 50px; font-weight: bold;">
      <%= t("body.paragraph26")%><br/><%= t("body.paragraph27")%><br/>
      <%= t("body.paragraph28")%></h3>
    </div><!--col-md-12-->
    <div class="col-md-12" style="margin-bottom: 50px;">
    <a href="/web/guide"> <button style="width: 200px; height: 50px; font-weight: bold;">
      <%= t("body.btn")%></button>
    </a>
    </div><!--col-md-12-->
  </div><!--row-->
</div><!--///contanier 100%囲み -->


