
<!-- Oo 20150320 -->
<div id="swfInner">
 <img src="/assets/shared/wasabi02.png" alt="wasabi image" style="margin-top: 20px;">
 <div class="col-md-12" style="margin-top: -250px;">
  <h2 style="font-size:27px;font-weight: bold;color: #fff;margin-bottom: 15px;font-family:zawgyi-one;">
    <%= t("body.top")%>
  </h2>
  <p style="font-size: 20px;color: #fff;font-weight: bold;font-family:zawgyi-one;">
    <%= t("body.top2")%>
  </p>
 </div>
</div>
<div class="container">
 <div class="row" style="width: 1000px; margin: 0 auto;">
    <div class="col-md-12">
      <h3 style="font-size: 25px; margin-top: 50px;font-weight: bold;font-family:zawgyi-one;">
          <%= t("body.title2")%>
      </h3>
    </div><!--col-md-12-->
    <div class="col-md-12" style="margin-top: 20px;">
      <div class="col-md-9" style="text-align: left; font-size: 20px; width: 800px;font-family:zawgyi-one;">
        <h3>●<%= t("body.paragraph")%></h3>
        <h3>●<%= t("body.paragraph2")%></h3>
        <h3>●<%= t("body.paragraph3")%></h3>
        <h3>●<%= t("body.paragraph4")%></h3>
        <h3>●<%= t("body.paragraph5")%></h3>
      </div><!--col-md-9-->
      <div class="com-md-3">
        <img src="/assets/shared/kawaii.png" width="170">
      </div><!--com-md-3-->
    </div><!--col-md-12-->
    <div class="col-md-12 title"><p><%= t("body.title3")%></p></div><!--col-md-12-->
    <div class="col-md-12" style="padding-left: 0px;">
      <div class="col-md-4">
        <img src="/assets/shared/menu01.png" width="306" alt="menu image" class="img-border">
        <h3 style="font-size: 20px; margin-top: 10px; margin-bottom: 5px; font-weight: bold;">
          <%= t("body.title12")%>
        </h3>
        <h4 style="text-align: left;"><%= t("body.paragraph6")%></h4>
      </div>
      <div class="col-md-4">
        <img src="/assets/shared/menu02.png" width="306" alt="menu image" class="img-border">
        <h3 style="font-size: 20px; margin-top: 10px; margin-bottom: 5px; font-weight: bold;">
          <%= t("body.title13")%>
        </h3>
        <h4 style="text-align: left;"><%= t("body.paragraph7")%></h4>
      </div>
      <div class="col-md-4">
        <img src="/assets/shared/menu03.png" width="306" alt="menu image" class="img-border">
        <h3 style="font-size: 20px; margin-top: 10px; margin-bottom: 5px; font-weight: bold;">
          <%= t("body.title14")%>
        </h3>
        <h4 style="text-align: left;"><%= t("body.paragraph8")%></h4>
      </div>
    </div><!--col-md-12-->
    <div class="col-md-12" style="padding-left: 0px; margin-top: 40px;margin-bottom: 40px;">
      <div class="col-md-4">
        <img src="/assets/shared/menu04.png" width="306" alt="menu image" class="img-border">
        <h3 style="font-size: 20px; margin-top: 10px; margin-bottom: 5px; font-weight: bold;">
          <%= t("body.title15")%>
        </h3>
        <h4 style="text-align: left;"><%= t("body.paragraph9")%></h4>
      </div>
      <div class="col-md-4">
        <img src="/assets/shared/menu05.png" width="306" alt="menu image" class="img-border">
        <h3 style="font-size: 20px; margin-top: 10px; margin-bottom: 5px; font-weight: bold;">
          <%= t("body.title16")%>
        </h3>
        <h4 style="text-align: left;"><%= t("body.paragraph10")%></h4>
      </div>
      <div class="col-md-4">
        <img src="/assets/shared/menu06.png" width="306" alt="menu image" class="img-border">
        <h3 style="font-size: 20px; margin-top: 10px; margin-bottom: 5px; font-weight: bold;">
          <%= t("body.title17")%>
        </h3>
        <h4 style="text-align: left;"><%= t("body.paragraph11")%></h4>
      </div>
    </div><!--col-md-12-->
    <div class="col-md-12" style="padding-left: 0px;margin-bottom: 40px;">
      <div class="col-md-4">
        <img src="/assets/shared/hamaguri.png" alt="menu image" class="img-border">
        <h3 style="font-size: 20px; margin-top: 10px; margin-bottom: 5px; font-weight: bold;">
          <%= t("body.title18")%>
        </h3>
        <h4 style="text-align: left;"><%= t("body.paragraph13")%></h4>
      </div>
      <div class="col-md-4">
        <img src="/assets/shared/gyoza.png" alt="menu image" class="img-border">
        <h3 style="font-size: 20px; margin-top: 10px; margin-bottom: 5px; font-weight: bold;">
          <%= t("body.title19")%>
        </h3>
        <h4 style="text-align: left;"><%= t("body.paragraph14")%></h4>
      </div>
      <div class="col-md-4">
        <img src="/assets/shared/shinsen_jizakana_yasai.png" alt="menu image" class="img-border">
        <h3 style="font-size: 20px; margin-top: 10px; margin-bottom: 5px; font-weight: bold;">
          <%= t("body.title20")%>
        </h3>
        <h4 style="text-align: left;"><%= t("body.paragraph15")%></h4>
      </div>
    </div><!--col-md-12-->
     <div class="col-md-12" style="margin-bottom: 50px; margin-left : -2px;">
        <img src="/assets/shared/menu_list.png" alt="menu list image" class="img-border" width="966">
      </div>
       <div class="col-md-12" style="margin-bottom: 50px; margin-left : -2px;">
        <img src="/assets/shared/enkaidekimasu.png" alt="enkaidekimasu image" class="img-border" width="966">
      </div>
     <div class="col-md-12" style="padding-left: 0px; margin-top: 5px;margin-bottom: 50px;">
      <div class="col-md-4">
        <img src="/assets/shared/myanmar.jpg" alt="menu image" class="img-border">
      </div>
      <div class="col-md-8">
        <div class="beer">
        <p style="color: #fff; font-size: 20px; font-weight: bold;"><%= t("body.title4")%></p>
        </div>
        <h4 style="text-align: left;"><%= t("body.paragraph12")%></h4>
      </div>
    </div><!--col-md-12-->
    <div class="col-md-12 title"><p><%= t("body.title6")%></p></div>     
    <div class="col-md-12" style="margin-bottom: 40px;">
      <img src="/assets/shared/upstair.png" alt="singboard image" style="margin-left: -3px; width: 965px;" class="img-border">
    </div><!--col-md-12-->
     <div class="col-md-12 title"><p><%= t("body.title5")%></p></div>
    <div class="col-md-12" style="margin-bottom: 25px; width: 996px;">
      <div class="img-border">
        <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false" alt="Wasabi Google Map">
        </script>
        <div style="overflow:hidden;height:500px;width:100%;">
          <div id="gmap_canvas" style="height:500px;width:100%;"></div>
            <style>#gmap_canvas img{max-width:none!important;background:none!important}</style><a class="google-map-code" href="http://www.trivoo.net/google-maps/" id="get-map-data">http://www.trivoo.net/google-maps/</a>
          </div>
          <script type="text/javascript"> function init_map(){var myOptions = {zoom:15,center:new google.maps.LatLng(16.78411954622561,96.15548875581976),mapTypeId: google.maps.MapTypeId.ROADMAP};map = new google.maps.Map(document.getElementById("gmap_canvas"), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(16.78411954622561, 96.15548875581976)});infowindow = new google.maps.InfoWindow({content:"<b>Wasabi　わさび&#9734;</b><br/>Bo Yar　Nyunt　Street<br/> Myanmar" });google.maps.event.addListener(marker, "click", function(){infowindow.open(map,marker);});infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);
          </script>
        </div>
    </div><!--col-md-12-->
    <div class="col-md-12" style="margin-bottom: 50px; margin-left : -2px;">
        <img src="/assets/shared/near_wasabi_map.png" alt="near_wasabi_map image" class="img-border" width="966">
    </div>
    <div class="col-md-12" style="margin-bottom: 50px;">
    <a href="/web/guide"> <button style="width: 200px; height: 50px; font-weight: bold;">
      <%= t("body.btn")%></button>
    </a>
    </div><!--col-md-12-->
  </div><!--row-->
</div><!--///contanier 100%囲み -->


