<div class="panel panel-default">
	<%= form_for(@purchase, url:order_web_index_path, html:{class:"form-horizontal form-border"}) do |f| %>
		<div class="panel-heading" style="border-bottom: 1px solid rgba(24, 4, 4, 0.07);">
			注文情報
		</div>
		<% if @purchase.errors.any? %>
		  <div id="error_explanation">
		    <h2><%= pluralize(@purchase.errors.count, "error") %> prohibited this post from being saved:</h2>
		 
		    <ul>
		    <% @purchase.errors.full_messages.each do |msg| %>
		      <li><%= msg %></li>
		    <% end %>
		    </ul>
		  </div>
		<% end %>
		<div class="panel-body">
			<div class="form-group">
				<label class="control-label col-md-2"></label>												
				<div class="col-md-10">
					<%= image_tag @purchase.selected_img %>
					<%= f.hidden_field :selected_img %>
					<%#= image_tag "/assets/a.png" %>
				</div><!-- /.col -->
			</div><!-- /form-group -->
			<div class="form-group">
				<label class="control-label col-md-2">氏名</label>
				<div class="col-md-10">
					<%= f.text_field :name, class: "form-control input-sm" %>
				</div><!-- /.col -->
			</div><!-- /form-group -->
			<div class="form-group">
				<label class="control-label col-md-2">メールアドレス</label>												
				<div class="col-md-10">
					<%= f.email_field :email, class: "form-control input-sm", placeholder: "john_doe@email.com" %>
				</div><!-- /.col -->
			</div><!-- /form-group -->
			<div class="form-group">
				<label class="control-label col-md-2">メールアドレス確認</label>												
				<div class="col-md-10">
					<%= f.text_field :email_confirmation , class: "form-control input-sm", placeholder: "john_doe@email.com" %>
				</div><!-- /.col -->
			</div><!-- /form-group -->
			<div class="form-group">
				<label class="control-label col-md-2">携帯電話</label>
				<div class="col-md-10">
					<%= f.text_field :tel, class: "form-control input-sm" %>
				</div><!-- /.col -->
			</div><!-- /form-group -->
			<div class="form-group">
				<label class="control-label col-md-2">メモ</label>
				<div class="col-md-10">
					<%= f.text_area :memo, class: "form-control", row: 3 %>
				</div><!-- /.col -->
			</div><!-- /form-group -->
		</div>
		<div class="panel-footer">
			<div class="text-center">
				<button class="btn btn-sm btn-success">注文</button>
				<button class="btn btn-sm btn-success" type="reset">リセット</button>
			</div>
		</div>
	<% end %><!--/form-->
</div>
